
body{
    background-color: #0b0c10;
    font-family: sans-serif;
}

#json_string{
    color: #c5c6c8;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: #202833;
}
h1{
    margin: 10px;
    color: #202833;
}
#table2{
    margin: 30px;
}

#selector{
    text-align: center;
}
table tr td {
    padding: 15px;
    border: 1px solid;

}

table{
    background-color: #202833;
    color: #c5c6c8;
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
}


